body{
    background: gray;
}
.card{
    background: white;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    margin: auto;
}
.top{
    font-size: 130px;
    padding-left: 25px;
}
.bottom{
    padding-bottom: 30px;
    font-size: 130px;
    padding-left: 20px;
    transform: rotate(180deg);
}
.number{
    text-align: center;
    font-size: 110px;
}
.control{
    margin: auto;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    width: 180px;
    margin-top: 20px;
}
#input{
    margin-top: 5px;
}